.heading 
{
    width: 100%;
    text-align: left;
}
.heading h2
{
    display: inline;
}
.heading button
{
    float: right;
    border: 3px dashed hsl(283, 100%, 50%);
} 
#start,#status,#restart_button{
    font-size: 22px;
}
h4{
    background-color: salmon;
    line-height: 2;
    margin: 0px;
}
.modal-dialog{
    width: 70%;
}
.modal-body{
    text-align: left;
    font-size: 20px;
}
canvas{
    border: 4px double slateblue;
    border-radius: 21px;
    box-shadow: 6px 5px 1001px chartreuse ;
}
